.mr-2  {
    margin-left: 0.5em !important;
}

#nav {
    background-color: black;
    width: 100%;
}

#logo {
    color: white;
    background-color: black;
    text-align: center;

}

.link {
    width: 600px;
    height: 100px;
}
.nav {
    color: white;
    font-size: 25px;
    display: inline-block;
    width: 400px;
    font-family: 'Marcellus SC' serif;
    font-display: center;
    padding-left: 20px;
}
.drop {
    background-color: black;
}

.droplink {
    background-color: black;
}

.nav-item{
    width: 100px;
}

.navbar-toggler{
    background-image: url("../../images/paper.jpg");

}